# Project YODA

In [1]:
### standard data science imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### deep learning imports
#from tensorflow.keras import utils

/Users/steiningerjakob/.pyenv/versions/3.8.12/envs/Project-YODA/lib/python3.8/site-packages/pandas/compat/__init__.py:124: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

## Data exploration

### Import data

In [2]:
index = pd.read_csv('../raw_data/index.csv')
index.head()

                  path  class_id
0  marvel/0001/001.jpg         1
1  marvel/0001/002.jpg         1
2  marvel/0001/003.jpg         1
3  marvel/0001/004.jpg         1
4  marvel/0001/005.jpg         1

In [3]:
metadata = pd.read_csv('../raw_data/metadata.csv')
metadata.head()

   class_id lego_ids                 lego_names minifigure_name
0         1  [76115]  ['Spider Mech vs. Venom']      SPIDER-MAN
1         2  [76115]  ['Spider Mech vs. Venom']           VENOM
2         3  [76115]  ['Spider Mech vs. Venom']        AUNT MAY
3         4  [76115]  ['Spider Mech vs. Venom']    GHOST SPIDER
4         5  [75208]             ["Yoda's Hut"]            YODA

In [4]:
index_with_names = pd.merge(index, metadata, on='class_id')
index_with_names.head()

,path,class_id,lego_ids,lego_names,minifigure_name
0,marvel/0001/001.jpg,1,[76115],['Spider Mech vs. Venom'],SPIDER-MAN
1,marvel/0001/002.jpg,1,[76115],['Spider Mech vs. Venom'],SPIDER-MAN
2,marvel/0001/003.jpg,1,[76115],['Spider Mech vs. Venom'],SPIDER-MAN
3,marvel/0001/004.jpg,1,[76115],['Spider Mech vs. Venom'],SPIDER-MAN
4,marvel/0001/005.jpg,1,[76115],['Spider Mech vs. Venom'],SPIDER-MAN

### Explore files

In [ ]:
index_with_names.minifigure_name.value_counts()

In [ ]:
plt.figure(figsize=(20,5))
sns.histplot(index_with_names['minifigure_name'])
plt.xticks(rotation=45)
plt.show();

### Preprocess data (if necessary)

### ...

## Classification model

### Define initial model architecture

### Train initial model